.cart-page {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.cart-page h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #10443e;
}

.cart-items {
    border-top: 1px solid #ddd;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cart-item img {
    max-width: 100px;
    height: auto;
    border-radius: 10px;
}

.cart-item-details {
    flex: 1;
    margin-left: 20px;
}

.cart-item-details p {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 20px; 
}

.cart-item-details .cart-item-name {
    font-size: 1.2em;
    font-weight: bold;
    color: #10443e;
    text-decoration: none;
}

.cart-item-details .cart-item-name:hover {
    text-decoration: underline;
}

.cart-item-price {
    font-size: 1.2em;
    font-weight: bold;
    color: #10443e;
}

.cart-summary {
    text-align: right;
    margin-top: 20px;
}

.cart-summary h3 {
    margin-bottom: 20px;
    color: #10443e;
}

.checkout-button {
    background-color: #62a29a;
    color: #ede4d6;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.checkout-button:hover {
    background-color: #10443e;
}
