.checkout-page {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    border-radius: 15px;
    margin: 40px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.checkout-form, .order-summary {
    width: 60%;
    background-color: #ede4d6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checkout-form h2, .order-summary h2 {
    margin-bottom: 20px;
    color: #10443e;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

.checkout-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #10443e;
}

.checkout-form input, .checkout-form select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.place-order-button {
    background-color: #32745c;
    color: #ede4d6;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.2s;
    display: block;
    margin: 20px auto 0;
    width: 100%;
    text-align: center;
}

.place-order-button:hover {
    background-color: #10443e;
    transform: scale(1.05);
}

.order-summary h3 {
    margin-top: 30px;
    color: #10443e;
    font-size: 1.5em;
    text-align: center;
}

.order-items {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
    max-height: 400px;
    overflow-y: auto;
}

.order-item {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.order-item img {
    max-width: 120px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-item-details p {
    margin: 5px 0;
    color: #10443e;
    font-size: 1.1em;
}

.order-item-details p:first-child {
    font-weight: bold;
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .checkout-page {
        flex-direction: column;
    }

    .checkout-form, .order-summary {
        width: 100%;
    }

    .place-order-button {
        margin-top: 10px;
    }
}
