/* HomePage.css */
.home-page {
    padding: 20px;
    width: auto;
    margin: 0 auto;
    background-color: #f4eeff;
}

h2 {
    font-size: 2em;
    color: #424874;
    margin-bottom: 20px;
    text-align: center;
}

.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;  /* Reduced gap between category items */
    margin-bottom: 20px;  /* Reduced margin at the bottom */
}

.category-item {
    background-color: #dcd6f7;
    color: #424874;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    text-transform: capitalize;
    transition: background-color 0.3s, transform 0.3s;
    text-decoration: none;
}

.category-item:hover {
    background-color: #a6b1e1;
    transform: scale(1.05);
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;  /* Reduced gap between products */
    width: 100%;
}

.product-item {
    background-color: #dcd6f7;
    padding: 15px;  /* Reduced padding */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item h3 {
    font-size: 1.5em;
    color: #424874;
    margin-bottom: 5px;  /* Reduced margin */
}

.product-item p {
    font-size: 1em;
    color: #424874;
    margin-bottom: 5px;  /* Reduced margin */
}

.product-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 5px;  /* Reduced margin */
}

button {
    background-color: #a6b1e1;
    color: #f4eeff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #424874;
}
