.navbar {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    color: #f4eeff;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.navbar-links li {
    display: inline;
}

.navbar-links li a {
    color: #ede4d6;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar-links li a:hover {
    background-color: #10443e;
}
