.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.product-item {
    background-color: #dcd6f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 40px);
    text-align: center;
}

.product-item h3 {
    font-size: 1.5em;
    color: #424874;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 1em;
    color: #424874;
    margin-bottom: 10px;
}

.product-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #a6b1e1;
    color: #f4eeff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #424874;
}
