.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns */
    gap: 10px; /* 10px gap between items */
    background-color: #ede4d6;
}

.product-item h3 a {
    color: #ede4d6;
    text-decoration: unset;
}

.product-item {
    background-color: #62a29a;
    border: 1px solid #62a29a;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    max-width: 100%;
    border-radius: 5px;
}

.product-item h3, .product-item p, .product-item button {
    margin: 10px 0;
}

.product-item button {
    background-color: #10443e;
    color: #ede4d6;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.product-item button:hover {
    background-color: #32745c;
}

/* Responsive design for smaller screens */
@media (max-width: 1200px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr); /* Three columns for smaller screens */
    }
}

@media (max-width: 900px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr); /* Two columns for smaller screens */
    }
}

@media (max-width: 600px) {
    .product-list {
        grid-template-columns: 1fr; /* One column for the smallest screens */
    }
}
